*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all .2s linear;
	text-transform: capitalize;
}

html{
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
	
}


a{
	text-decoration: none;
	color: #eee;


}
.heading{
	font-size: 4rem;
	text-align: center;
	letter-spacing:1.7rem ;
	color:#444 ;
	margin: 1rem 0;
	padding-top: 6rem;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-color:  #ff8e31;
	text-underline-offset:-1.4rem ;

}
#backtop.mcOut {
    opacity: 0;
}
#backtop {
    position: fixed;
    left: auto;
    right: 20px;
    top: auto;
    bottom: 20px;
    outline: none;
    overflow: hidden;
    color: #fff;
    text-align: center;
    background-color: #e7802b;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s linear;
    z-index: 999999;
    opacity: 1;
    display: none;
}

header{
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("back.jpg") center no-repeat;
	background-size: cover;
	position: relative;
    overflow: hidden;
}
.centered {
  color: white;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
}



.text-block {
  
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 27%;
  background-color: black;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-family:  "Sofia", serif;
  
}

@media screen and (max-width: 700px){
	.centered {
		
		width: 100%;
		font-size: 5rem;
		text-align: center;
	}
	.text-block {
		width: 50%;
		font-size: 2rem;
		
		text-align: center;
	}
}

.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
	padding-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.brand{
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand span{
	color: crimson;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .3s;
}

nav ul li:nth-child(3){
	animation-delay: .6s;
}

nav ul li:nth-child(4){
	animation-delay: 1s;
}

nav ul li:nth-child(5){
	animation-delay: 1.4s;
}
nav ul li:nth-child(6){
	animation-delay: 1.7s;
}


nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
    display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0rem;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
  
}












@media screen and (max-width: 1700px){
	.home{
		background:lightblue; 
	}


	.home .counting{
        
		min-height: 40vh;
		padding: 2rem 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		text-align: center;
		

	}
	.home .counting .box{
		margin: 2rem 2rem;
		text-align: center;
		background:lightblue; 


	}
	.home .counting .box .count{
		font-size: 5rem;
		color: #444;
		letter-spacing: 1.7rem;
		




	}
	.home .counting .box h3{
		font-size: 2rem;
		color:  #ff8e31
	}
}

h1 {
    -webkit-transition: color .3s;
    transition: color .3s;
    font-family: 'Merriweather', serif;
    text-align: left;
    font-size: 45px;
    line-height: 60px;


}

h1 span {
    color: #ff8e31;
}

h4 {
    -webkit-transition: color .3s;
    transition: color .3s;
    font-family: 'Merriweather', serif;
    text-align: left;
    font-size: 25px;
    line-height: 30px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
h1, h2, h3, h4, h5, h6 {
    -webkit-transition: color .3s;
    transition: color .3s;
    font-family: 'Merriweather', serif;
}

.line {
    background-image: url(line.jpg);
    background-repeat: no-repeat;
    background-position: left;
    padding: 5px;
    
}
p {
    font-size: 16.35px;
    line-height: 1.71;
    color: #6E6E6E;
    text-align: left;
    margin: 0 0 10px;

}
.btn-gray {
    border-top: 4px solid #333;
    line-height: 40px;
    color: #fff;
    padding: 0px 30px;
    border-radius: 2px;
    font-size: 12px;
    background-color: #ff8e31;
    -webkit-transition: .3s;
    transition: .3s;
    /* text-align: left; */
    float: left;
}
a {
	outline: none;
}
#section1 {
    padding: 40px 0px;
    background: #fff;
}


#latest-projects {
    background: url(services.jpg) center center/cover no-repeat local;
    position: relative;
    padding: 30px 0 30px;
    color: aliceblue;
}


h2 {
    font-size: 35px;
}
#latest-projects p {
    color: aliceblue;
}
.blue-box {
    background: #e7802b;
    padding: 32px;
    display: block;
    margin: 5px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid #cacaca;
    color: #FFFFFF;
    height: 200px;
}
.blue-box:hover{
	background-color: #f1f1f1;
}

#vision-gray {
    padding: 40px 0px;
    background: #f1f1f1;

}
.mrg0 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.white-box {
    padding: 15px;
    display: block;
    text-transform: uppercase;
    background: #FFFFFF;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    border: .3px solid #cacaca;

}
.white-box:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#indigo {
    padding: 40px 0px;
    color: #fff;
    background-color: #15191f;
}
li {
    list-style: none;
    font-size: 1.5rem;
}
#footer {
    background: #00050c;
    color: #fff;
    padding: 13px 0;
    margin-top: 2px;
    font-size: 1.2rem;
}
.icon {
    padding: 8px;
    border: 1px solid #987c46;
    text-align: center;
    color: #fff;
}
.icon:hover{
	background-color: #ff7a00 ;
}

.white-text {
    color: #FFFFFF;
}












h3 {
    -webkit-transition: color .3s;
    transition: color .3s;
    font-family: 'Merriweather', serif;
    text-align: left;
    font-size: 30px;
}
.breadcrumb {
    list-style: none;
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    color: #fff;

}
.breadcrumb a{
    color: #fff;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;

}

#vision-white {
    padding: 40px 0px;
    background: #fff;
}
.line1 {
    background-image: url(line1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
}
#vision-gray {
    padding: 40px 0px;
    background: #f1f1f1;
}
#contact-banner {
    background: #271710 url(contact-banner.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#latest-projects-1 {
    background: url(abt-img-1.jpg) center center/cover no-repeat local;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: aliceblue;
    padding-top: 2rem;
}
#latest-projects-1 p {
    color: aliceblue;
}


.bdr {
    padding: 3px;
    background-color: #fff;
    /* background-color: #e7802b; */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
#myBtn {
    position: fixed;
    left: auto;
    right: 20px;
    top: auto;
    bottom: 20px;
    outline: none;
    overflow: hidden;
    color: #fff;
    text-align: center;
    background-color: #e7802b;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s linear;
    z-index: 999999;
    opacity: 1;
    display: none;
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.style-three .single-service-home .content h3 {
    color: #11333a;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    padding-top: 0px;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.single-service-home .icon-box, .single-service-home .content {
    display: table-cell;
    vertical-align: top;
    padding: 1rem;
}
.single-service-home .inner-box {
    width: 65px;
    height: 65px;
    /* background: -webkit-linear-gradient(left, #193775, #171e1f); */
    text-align: center;
    color: #fff;
    line-height: 63px;
    margin-right: 27px;
    position: relative;
    transition: all .3s ease;
    background-color: black;
}
.single-service-home .inner-box:hover{
	background-color: #ff7a00;
}
.attractive-spot-section {
    position: relative;
    background-color: #fff;
}